<section class="last-section">
    <div class="container">
        <h2 class="fade-in">Let’s build something awesome together <i class="fas fa-handshake"></i>
        </h2>
        <p class="fade-in">
            You’ve seen what I do—now imagine what we could do together.
            Whether it's crafting beautiful apps, solving real problems, or just bouncing around cool ideas, I'm all in.
        </p>
        <p class="invite fade-in">Got something in mind?<br><strong>Let’s connect and make it happen.</strong></p>
    </div>
</section>